@import "src/assets/themes/theme.scss";

.mat-toolbar {
  display: grid;
  grid-template-columns: 97% 3%;
  background-color: $bdazzled-blue;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-left: 1%;
}

.brand-title {
  cursor: pointer;
}