<section class="container sec-03 portfolio active" id="portfolio">
  <div class="main-title">
    <h2>My <span>Portfolio</span><span class="bg-text">MyWorks</span></h2>
  </div>
  <p class="portfolio-text">
    Here is some of my work that I've done in various programming languages.
  </p>
  <div class="portfolio-container">
    <div class="portfolios">
      <div class="portfolio-item">
        <div class="image">
          <img src="/assets/image/port1.jpg" alt="project">
        </div>
        <div class="hover-items">
          <h3>Project Source</h3>
          <div class="icons">
            <a class="icon" href="https://www.github.com" target="_blank">
              <i class="fa-brands fa-github"></i>
            </a>
            <a class="icon" href="https://www.youtube.com" target="_blank">
              <i class="fa-brands fa-youtube"></i>
            </a>
            <a class="icon" href="https://www.behance.net" target="_blank">
              <i class="fa-brands fa-behance"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="portfolio-item">
        <div class="image">
          <img src="/assets/image/port2.jpg" alt="project">
        </div>
        <div class="hover-items">
          <h3>Project Source</h3>
          <div class="icons">
            <a class="icon" href="https://www.github.com" target="_blank">
              <i class="fa-brands fa-github"></i>
            </a>
            <a class="icon" href="https://www.youtube.com" target="_blank">
              <i class="fa-brands fa-youtube"></i>
            </a>
            <a class="icon" href="https://www.behance.net" target="_blank">
              <i class="fa-brands fa-behance"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="portfolio-item">
        <div class="image">
          <img src="/assets/image/port3.jpg" alt="project">
        </div>
        <div class="hover-items">
          <h3>Project Source</h3>
          <div class="icons">
            <a class="icon" href="https://www.github.com" target="_blank">
              <i class="fa-brands fa-github"></i>
            </a>
            <a class="icon" href="https://www.youtube.com" target="_blank">
              <i class="fa-brands fa-youtube"></i>
            </a>
            <a class="icon" href="https://www.behance.net" target="_blank">
              <i class="fa-brands fa-behance"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="portfolio-item">
        <div class="image">
          <img src="/assets/image/port4.jpg" alt="project">
        </div>
        <div class="hover-items">
          <h3>Project Source</h3>
          <div class="icons">
            <a class="icon" href="https://www.github.com" target="_blank">
              <i class="fa-brands fa-github"></i>
            </a>
            <a class="icon" href="https://www.youtube.com" target="_blank">
              <i class="fa-brands fa-youtube"></i>
            </a>
            <a class="icon" href="https://www.behance.net" target="_blank">
              <i class="fa-brands fa-behance"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="portfolio-item">
        <div class="image">
          <img src="/assets/image/port5.jpg" alt="project">
        </div>
        <div class="hover-items">
          <h3>Project Source</h3>
          <div class="icons">
            <a class="icon" href="https://www.github.com" target="_blank">
              <i class="fa-brands fa-github"></i>
            </a>
            <a class="icon" href="https://www.youtube.com" target="_blank">
              <i class="fa-brands fa-youtube"></i>
            </a>
            <a class="icon" href="https://www.behance.net" target="_blank">
              <i class="fa-brands fa-behance"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="portfolio-item">
        <div class="image">
          <img src="/assets/image/port6.jpg" alt="project">
        </div>
        <div class="hover-items">
          <h3>Project Source</h3>
          <div class="icons">
            <a class="icon" href="https://www.github.com" target="_blank">
              <i class="fa-brands fa-github"></i>
            </a>
            <a class="icon" href="https://www.youtube.com" target="_blank">
              <i class="fa-brands fa-youtube"></i>
            </a>
            <a class="icon" href="https://www.behance.net" target="_blank">
              <i class="fa-brands fa-behance"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="portfolio-item">
        <div class="image">
          <img src="/assets/image/port7.jpg" alt="project">
        </div>
        <div class="hover-items">
          <h3>Project Source</h3>
          <div class="icons">
            <a class="icon" href="https://www.github.com" target="_blank">
              <i class="fa-brands fa-github"></i>
            </a>
            <a class="icon" href="https://www.youtube.com" target="_blank">
              <i class="fa-brands fa-youtube"></i>
            </a>
            <a class="icon" href="https://www.behance.net" target="_blank">
              <i class="fa-brands fa-behance"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>