<div class="chart-container">

  <mat-card>
    <mat-card-content>
      <!-- <canvas id="Chart1"></canvas> -->
      <ngx-donut-chart 
        [view]='donutView'
        [chartData]="donutChartData" 
        [chartOptions]='donutChartOptions'>
      </ngx-donut-chart>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <!-- <canvas id="Chart1"></canvas> -->
      <ngx-pie-chart 
        [view]='pieView' 
        [chartData]='pieChartData' 
        [chartOptions]='pieChartOptions'>
      </ngx-pie-chart>
    </mat-card-content>
  </mat-card>

</div>