<div class="chart-container">

  <mat-card>
    <mat-card-title>Programming Langugage Rating</mat-card-title>
    <mat-card-content>
      <canvas baseChart
        [type]="'doughnut'"
        [labels]="doughnutChartLabels"
        [datasets]="doughnutChartDataset"
        [options]="doughnutChartOptions"
        [legend]="true"
        [width]="400">
      </canvas>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Programming Langugage Rating</mat-card-title>
    <mat-card-content>
      <canvas baseChart
        [type]="'pie'"
        [labels]="pieChartLabels"
        [datasets]="pieChartDataset"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend"
        [width]="400">
      </canvas>
    </mat-card-content>
  </mat-card>

</div>