.theme-toggle {
  position: fixed;
  top: .8rem;
  right: .5rem;
}

.mat-toolbar {
  display: grid;
  grid-template-columns: 95% 5%;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-left: 1%;
}

.brand-title {
  cursor: pointer;
}