/* You can add global styles to this file, and also import other style files */
@import "~ngx-chart/styles.scss";
@import "assets/themes/theme.scss";

html, 
body {
  height: 100%; 
}

body { 
  margin: 0; 
  background-color: var($light-cyan);
  color: var($gunmetal);
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  transition: all .4s ease-in-out;
}

.spacer {
  flex: 1 1 auto;
}