<div class="container">
  <mat-card class="login-form">
    <button mat-icon-button class="btn-close" routerLink="/admin">
      <mat-icon>close</mat-icon>
    </button>
    <mat-card-title>Edit User Data</mat-card-title>
    <mat-divider inset></mat-divider>
    <form *ngIf="createForm" [formGroup]="createForm" (ngSubmit)="submitProject()">

      <mat-card-content class="form-inputs">
        <mat-form-field appearance="legacy">
          <mat-label>Project name</mat-label>
          <input matInput placeholder="Enter project name..." type="text" formControlName="name" required>
          <mat-hint>project name</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Enter description..." type="text" formControlName="description" required>
          <mat-hint>description</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Image</mat-label>
          <input matInput placeholder="Enter image..." type="text" formControlName="image">
          <mat-hint>image</mat-hint>
        </mat-form-field>

        <!-- <mat-form-field appearance="legacy">
          <mat-label>Skills</mat-label>
          <input matInput placeholder="Enter skills..." type="text" formControlName="skills">
          <mat-hint>skills</mat-hint>
        </mat-form-field> -->

        <mat-form-field appearance="legacy">
          <mat-label>Links</mat-label>
          <input matInput placeholder="Enter links..." type="text" formControlName="links">
          <mat-hint>links</mat-hint>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions class="btn-group">
        <button mat-stroked-button color="primary" type="submit" [disabled]="createForm.invalid">Submit</button>
      </mat-card-actions>

    </form>
  </mat-card>
</div>