<app-header (taggledEvent)="drawer.toggle()"></app-header>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
  <mat-nav-list role="list">
    <mat-list-item class="nav-link" role="listitem" routerLink="/auth/signup">Add User</mat-list-item>
    <mat-list-item class="nav-link" role="listitem" routerLink="listUser">List Users</mat-list-item>
  </mat-nav-list>  
</mat-drawer>

<div class="sidenav-content">
  <router-outlet></router-outlet>
</div>

</mat-drawer-container>
