<app-header (taggledEvent)="drawer.toggle()"></app-header>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
  <mat-nav-list role="list">
    <mat-list-item class="nav-link" role="listitem" routerLink="/admin"><mat-icon>home</mat-icon>&nbsp;&nbsp;Home</mat-list-item>
    <mat-list-item class="nav-link" role="listitem" routerLink="addUser"><mat-icon>person_add</mat-icon>&nbsp;&nbsp;Add User</mat-list-item>
    <mat-list-item class="nav-link" role="listitem" routerLink="listUser"><mat-icon>group</mat-icon>&nbsp;&nbsp;Users</mat-list-item>
    <mat-list-item class="nav-link" role="listitem" routerLink="addProject"><mat-icon>person_add</mat-icon>&nbsp;&nbsp;Add Project</mat-list-item>
    <mat-list-item class="nav-link" role="listitem" routerLink="listProject"><mat-icon>cases</mat-icon>&nbsp;&nbsp;Projects</mat-list-item>
    <mat-list-item class="nav-link" role="listitem" routerLink="addSkill"><mat-icon>person_add</mat-icon>&nbsp;&nbsp;Add Skill</mat-list-item>
    <mat-list-item class="nav-link" role="listitem" routerLink="listSkill"><mat-icon>cast_for_education</mat-icon>&nbsp;&nbsp;Skills</mat-list-item>
    <mat-list-item class="nav-link" role="listitem"><mat-icon>wysiwyg</mat-icon>&nbsp;&nbsp;Blog</mat-list-item>
  </mat-nav-list>  
</mat-drawer>

<div class="sidenav-content">
  <router-outlet></router-outlet>
</div>

</mat-drawer-container>
