table {
  width: 100%;
}

th {
  text-align: left;
}

.mat-header-cell {
  font-size: 1rem;
}

// .row:nth-child(odd) {
//   background-color: rgba(0, 0, 0, .05);
// }

// expanded
tr.detail-row {
  height: 0;
  // display: none;
}

tr.row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.row:not(.expanded-row):active {
  background: #efefef;
}

.row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  width: 50%;
  margin: 1rem 0;
}

.element-diagram {
  min-height: 100px;
  padding: 1rem;
  font-weight: lighter;
}

.element-created-attribution {
  opacity: 0.5;
}

.btn-group {
  margin-left: 1rem;
}